.section-advantage {
  padding-top: 94px;
}

.list--icon-advantage {
@extend %centeredFlex;
  height: 120px;
  text-align: center;
  background-color: var(--background-section-work);
  border-radius: 4px;
  margin-bottom: 30px;
}



.list-text {
 display: flex;
gap: 30px;
}

.list__list-advantage {
  width: calc((100% - 90px) / 4);
 }
 
 .list__subtitle {
  margin-bottom: 10px;
  @include fonts(700, 14px);
  line-height: 1.14;
  letter-spacing: $let-sp;
  text-transform: uppercase;
}
.list__text {
@include fonts;
line-height: 1.71;
letter-spacing: $let-sp;
color: var(--color-grey);
} 
